node_modules
.next
.env
.env.local
prisma/dev.db
prisma/dev.db-journal
dist
dist-extension
dist-extension.zip
desktop/macos/DerivedData
desktop/macos/Vendor/BrightSDK/**
!desktop/macos/Vendor/BrightSDK/README.md
desktop/macos/BrightSDK/
desktop/windows/**/bin
desktop/windows/**/obj
*.log
.DS_Store
